@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<table>
    <tr>
        <td> <a asp-controller="BreadCrumb" asp-action="Index" asp-area="">BreadCrumb</a></td>
    </tr>
</table>
